.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 0;
    grid-template-areas: "navigation"
    "navbar";
    position: relative;
    z-index: 200;
}

.navigation {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px;
    gap: 0;
    grid-template-areas: 
    "logo . profile";
    padding: 10px 10%;
}

.logo, .cities, .profile, .notifications, .search, .add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    grid-area: logo;
    cursor: pointer;
    /* background-color: yellowgreen; */
}

.logo_img {
    width: 60%;
    margin-left: auto;
    /* margin-right: 20px; */
}

.cities {
    padding: 10px;
}

.lang, .notifications {
    grid-area: lang;
    
}

.profile {
    grid-area: profile;
    color: var(--color-green);
    display: flex;
    justify-content: right;
    /* width: 130px; */
}

.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-white);
    overflow: hidden;
}

.profile_photo img, .photo img {
    width: 100%;
    height: 100%;
}

.notifications img {
    cursor: pointer;
    width: 25px;
}

.dropdown {
    position: relative;
    display: block;
    /* padding:  10px; */
}

.dropbtn {
    color: var(--color-green);
    display: flex;
    align-items: center;
    /* padding: 5px; */
    cursor: pointer;
}

.location {
    width: 20px;
}

.dropdown_menu, .dropdown_menu_profile {
    position: absolute;
    display: none;
    background: #fff;
    border: 2px solid var(--color-white);
    color: var(--color-green);
    box-shadow: 0px 0px 7px 0px var(--color-grey);
    border-radius: 10px;
    overflow: hidden;
    animation: profile .3s;
    z-index: 200;
}

.dropdown_menu {
    left: 0px;
    /* top: 0; */
}

.dropdown_menu_profile {
    width: 300px;
    right: 0;
    /* animation: profile .3s; */
    /* top: 0; */
}

.dropdown_menu_profile .photo {
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: 10px;
    overflow: hidden;
}

.dropdown_menu p, .dropdown_menu_profile .info p {
    cursor: pointer;
    padding: 10px 50px 10px 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* width: 100%; */
}

.dropdown_menu_profile .info p img {
    margin-right: 5px;
    width: 20px;
}

.dropdown_menu p:hover, .dropdown_menu_profile .info p:hover {
    background-color: var(--color-white);
    /* color: #fff; */
}

.dropdown:hover .dropdown_menu, .dropdown:hover .dropdown_menu_profile {
    display: flex;
    flex-direction: column;
} 

.main_info {
    width: 100%;
    display: flex;
    padding: 10px;
}

.name_location {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name_location .name {
    font-weight: 600;
}

.name_location .location {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: .8rem;
}

.name_location .location img {
    width: 15px;
}

.navbar, .sticky {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-gap: 0;
    background-color: var(--color-green);
    border: 2px solid transparent;
    padding: 0 5%;
    color: #fff;
    font-weight: 600;
}

.navbar {
    grid-area: navbar;
    grid-template-areas: "items search profileItems";
}

.sticky {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "items search profileItems";
}


.profile_items {
    grid-area: profileItems;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.profile_items__items, .profilePlace, .show {
    display: flex;
    justify-content: right;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
}

.show {
    animation: profile .2s ease;
}

.hide {
    display: none;
}

.show > div, .profile > div {
    margin-left: 10px;
}

.search {
    grid-area: search;
}

.search input {
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.search input::placeholder {
    color: #fff;
}

.items {
    grid-area: items;
    display: flex;
    justify-content: left;
    /* width: 150px; */
}

.items > div, .profile_items__items > div {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.news {
    /* position: relative; */
}

.newsCount {
    margin: 2px;
    height: 25px;
    width: 25px;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    top: 0;
    right: 0;
    border: 1px solid var(--color-white);
    /* color: red; */
    border-radius: 50%;
}

.items > div:hover, .profile_items__items > div:hover {
    background-color: #fff;
    color: var(--color-green);
}

@keyframes navbar {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes profile {
    0% {
        margin-top: -15px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1500px) {
    .navbar, .sticky {
        padding: 10px 10%;
    }
}

@media screen and (min-width: 1500px) {
    .navbar, .sticky {
        padding: 10px 10%;
    }
}