.container {
    width: 80%;
    margin: 5vh auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imgContainer, .account, .logo, .desc, .actions, .actions > div {
    display: flex;
    align-items: center;
}

.imgContainer {
    width: 80%;
    margin: auto;
    justify-content: center; 
}

.imgContainer img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.account {
    width: 100%;
    justify-content: space-between;
}

.desc {
    align-items: start;
    flex-direction: column;
    margin: 20px 0;
}

.desc > div {
    margin: 10px 0;
}

.desc > div a {
    color: blue;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
}

/* .desc p {
    color: darkgray;
} */

.desc span {
    font-weight: 600;
    color: var(--color-green);
    /* text-decoration: underline; */
    font-size: 1rem;
    margin: 5px 0;
}

.logo {

}

.logo img {
    width: 80px;
    height: 80px;
    border: 2px solid var(--color-green);
    border-radius: 50%;
}

.logo a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-green);
    margin-left: 10px;
}

.logo a:hover {
    text-decoration: underline;
}

.info button {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    border: 1px solid var(--color-green);
}

.notFollowed {
    background-color: #fff;
    color: var(--color-green);
}

.followed {
    background-color: var(--color-green);
    color: #fff;
    animation: var(--dislike-animation) var(--transition-middle);
}

.actions {
    width: 60%;
    margin: auto;
    justify-content: space-around;
}

.actions > div {
    width: 20px;
    height: 20px;
}

.actions > div img {
    width: 100%;
}