.item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all var(--transition-middle) ease;
    width: 300px;
    height: 400px;
    min-width: 300px;
    min-height: 400px;
    background-color: var(--color-white);
    margin-right: 20px;
}

.item:hover {
    box-shadow: 0px 0px 51px -15px rgba(0,0,0,0.75);
}

.item_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    border-radius: 10px;
    overflow: hidden;
}

.item_img img {
    height: 100%;
    transition: all var(--transition-middle) ease;
}

.item_img img:hover {
    transform: scale(1.1);
}

/* @keyframes like {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
} */