.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "name"
        "items";
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}

.name {
    grid-area: name;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-green);
    position: relative;
}

.name span {
    position: absolute;
    margin-left: 3px;
    padding: 4px 2px;
    font-size: .8rem;
    border-radius: 50%;
    border: 1px solid var(--color-green);
    color: var(--color-green);
}

.all {
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--color-green);
    color: #fff;
    border-radius: 5px;
    transition: var(--transition-fast);
}

.all:hover {
    transform: scale(1.1);
}

.itemsContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.items {
    grid-area: items;
    display: flex;
    padding: 0 5%;
    overflow-x: scroll;
    position: relative;
    width: 10000%;
    transition: all var(--transition-middle) ease-in-out;
}

.items::-webkit-scrollbar {
    display: none;
}

.prev, .next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 60px;
    /* margin-left: 5%; */
    /* top: 0; */
    /* width: 100%; */
    bottom: 0;
    /* border-radius: 20px; */
}

.prev > div, .next > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.527);
    padding: 10px;
    border-radius: 50%;
    /* border: 1px solid var(--color-green); */
}

.prev {
    left: 5%;
}

.prev img, .next img {
    width: 40px;
    margin: auto;
}

.next {
    right: 5%;
}

@media screen and (min-width: 1500px) {
    .container {
        padding: 0 10%;
    }
    .name {
        padding: 10px 0;
    }
    .items {
        padding: 0;
    }
    .next {
        left: auto;
        right: 5%;
    }
}