/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&display=swap');

:root {
    --color-green: #00A300; /*#00A300*/ /*#00c000*/  
    --color-white: #dfdfdf;
    --color-grey: #c7c7c7;

    --like-animation: like;
    --dislike-animation: dislike;
    --block-animation: blockAnimation;

    --transition-fast: .1s;
    --transition-middle: .3s;
}

* {
    padding: 0;
    margin: 0
}

body {
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-green);
}

.app-wrapper {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Mulish', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.app-wrapper-content {
    width: auto;
}


@keyframes like {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blockAnimation {
    0% {
        transform: translateY(20px);
    }
    100% {}
}