.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "name"
        "items";
    margin: 20px auto 5vh auto;
}

.name {
    grid-area: name;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-green);
}

.all {
    font-weight: 300;
    text-transform: lowercase;
    font-size: 1.2rem;
    cursor: pointer;
}

.all:hover {
    text-decoration: underline;
}

.items {
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    /* justify-content: space-between; */
    grid-gap: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0;
    }
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1400px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }

    .name {
        padding: 0 5%;
    }
}

@media screen and (max-width: 2000px) {
    .items {
        grid-template-columns: repeat(5, 1fr);
    }

    .name {
        padding: 0 10%;
    }
}