.container {
    padding: 0 10%;
    margin: 5vh auto 0 auto;
    /* border: 2px solid var(--color-green); */
}

.img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    border-radius: 20px;
}

.img img {
    width: 100%;
    height: 280px;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 80%;
    }
}